
#wrapper{
  width: 800px;
  border-style: double;
  margin: auto;

}
#content{
  display: flex;
  height: 200px;
}
#header{
  background: gray;
  width: 800px;
  height: 100%;
  border-bottom: 2px solid black;
}
h1{
  margin: 0;
}
#sidebar{
  flex: 30%;
  border-right: 1px solid black;
  background-color: burlywood;
}
#inter{
  flex: 70%;
  text-align: left;
  width: 600px;
  ;
}
#footer{
  background: gray;
  text-align: center;
}
ul{
  list-style-type: none;
}
