* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial, sans-serif;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    border-left: 5px solid #8B0000;
    background-color: #EEEEEE;
    border-bottom: 3px solid #8B0000;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.item {
    font-weight: 500;
    padding: 20px 20px;
}
.item:hover{
    color: white;
    background-color: #8B0000;
}
.subList{
}
.subList span{
    position: relative;
}
.subList span ul{
    position: absolute;
    flex-direction: column;
    border-top:3px solid #8B0000;
    top: 39px;
    left: -20px;
    display: none;
}
.subList .subItems{
    background-color: #EEEEEE;
    color: black;
    text-align: left;
    width: 150px;
    padding: 10px 30px;
    border-bottom: 2px solid #bbbbbb;
}
.subList:hover ul{
    display: block;
}
.subList .subItems:hover{
    color: white;
    background-color: #8B0000;
}
