.container{
    width: 300px;
    margin: 0 auto;
}
.input-wrapper{
    display: grid;
    grid-auto-columns: auto auto auto;
    gap: 20px;
    margin-bottom: 20px;
}
h4{
    margin: 0;
}
.answer{
    margin-bottom: 20px;
}